<div class="navbar navbar--pink" data-controller="navbar">
  <div class="navbar__left">
    <div class="icon">
      <%= link_to "Camera24", root_path %>
    </div>
    <div class="explore">
      <%= link_to "Explore", cameras_path %>
    </div>
  </div>
    <div class="navbar__right">
      <%= link_to "CAMERA", new_camera_path, class: "button--color", id: "create__button" %>
        <div class="dropdown">
          <button class="drop__button"></button>
            <div class="dropdown__content">
              <% if user_signed_in? %>
                <h6 class ="User__info__navbar">Hi, <%= current_user.email %></h6>
                <p><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></p>
              <% else %>
                <p><%= link_to "Log in", new_user_session_path %></p>
              <% end %>
              <%# Please use from here :) %>
              <p><%= link_to "Booking", offers_path %></p>
              <p><%= link_to "Choose a path", root_path %></p>
              <p><%= link_to "Choose a path", root_path %></p>
              <p><%= link_to "Choose a path", root_path %></p>
        </div>
      </div>
    </div>
</div>
