<div class="form">
  <div class="navbar-fix">
    <h1>Update your camera</h1>
  </div>
  <div>

    <%= simple_form_for(@camera) do |c| %>
        <%= c.input :name %>
        <%= c.input :location %>
        <%= c.input :price, as: :integer %>
        <%= c.submit %>
    <% end %>
  </div>
</div>
