<div class="navbar-fix">
   <h1>Upload a new camera</h1>
</div>
<div>

   <%= simple_form_for(@camera) do |c| %>
      <%= c.input :name %>
      <%= c.input :location %>
      <%= c.input :price, as: :integer %>
      <%= f.input :photo, as: :file %>
      <%= c.submit %>


   <% end %>

</div>
