<div class="container">
  <div class="navbar-fix">
    <h1>Booking for <%= @offer.camera.name %></h1>
  </div>
  <p>Your camera <%= @offer.camera.name %> was booked by <%= @offer.user.first_name %> <%= @offer.user.last_name %></p>
  Status: <%= @offer.status %>
  <%= link_to "Accept or decline this booking", edit_offer_path(@offer.id), class: "button--color", id: "button" %>
</div>
